
@{
    ViewBag.Title = "ManagerView";
}

<h2>ManagerView</h2>
<p>@Html.ActionLink("Asset List", "../Assets", "Index")</p>
<p>@Html.ActionLink("Employee List", "../Employees", "Index")</p>
<p>@Html.ActionLink("Branch List", "../Branches", "Index")</p>
<p>@Html.ActionLink("Assign Employee", "../WorksAt", "Index")</p>
<p>@Html.ActionLink("Assign Manager", "../ManagesBranches", "Index")</p>
<p>@Html.ActionLink("Assign Asset to Employee", "../AssignedTo", "Index")</p>
